@inherits LayoutComponentBase

<div class="min-h-screen bg-gray-950 text-white p-4">
    <header class="mb-4">
        <h1 class="text-2xl font-bold text-white">Sentinel</h1>
    </header>

    <main>
        @Body
    </main>

    <footer class="mt-6 text-center text-gray-400 text-sm">
        &copy; @DateTime.Now.Year Sentinel Cloudinho
    </footer>
</div>
