<div class="bg-gray-800 w-64 p-4">
    <h3 class="text-xl font-bold mb-4">Sentinel do Cloudinho</h3>
    <ul>
        <li><a href="/" class="block p-2 hover:bg-gray-700 rounded">Home</a></li>
    </ul>
</div>